@media only screen and (max-width: 1079px) {
	body {
		background-image: url("backMobileP.jpg");
		background-size: cover;
	}	
}

@media all and (orientation:landscape){
	body {
		background-image: url("backMobileW.jpg");
		background-size: cover;
	}
	@media only screen and (min-width: 1080px) {	
		body {
		background-image: url("backDesk.jpg");
		background-size: cover;
		}
	}
}


#circleHome {
	position: fixed;
	border-radius: 50%;
	padding: 0px;
    width: 500px;
    height: 500px;
  	top: 45%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	background: black;
  	white-space: nowrap;
}

#nameBox {
	position: absolute;
	top: 35%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#iconBox {
	position: absolute;
	top: 55%;
  	left: 50%;
	transform: translate(-50%, -50%);
}

#iconSmall {
	position: absolute;
	top: 75%;
  	left: 50%;
	transform: translate(-50%, -50%);
}

#name {
	color: white;
	text-decoration: none;
}

#name:hover{
	color:grey;
}

h1 {
	text-align: center;
	color:#000000;
	font-family:courier;
	font-size:50pt;
}

h3 {
	text-align: center;
	color: silver;
	font-family:courier;
	font-size:28pt;
}

/*
 * Projects Page Specific
 */

.Project_Page{
	background-image: url("Projects.jpg");
	background-size: cover;
}


#autoRobo{
	position: fixed;
	border-radius: 20%;
	width: 350px;
    height: 500px;
  	top: 45%;
  	left: 30%;
  	transform: translate(-50%, -50%);
	background: #0B888E;
}



#python{
	position: fixed;
	border-radius: 20%;
	width: 350px;
    height: 500px;
  	top: 45%;
  	left: 70%;
  	transform: translate(-50%, -50%);
	background: #0B888E;
}

/*
 * Journal Page Specific
 */

.Journal_Page{
	background-image: url("type.jpg");
	background-size: cover;
}

#journalArticles{
	position: fixed;
	border-radius: 20%;
	width: 350px;
    height: 500px;
  	top: 45%;
  	left: 30%;
  	transform: translate(-50%, -50%);
	background: #8B4513;
	opacity: 0.95;
}



#articles{
	position: fixed;
	border-radius: 20%;
	width: 350px;
    height: 500px;
  	top: 45%;
  	left: 70%;
  	transform: translate(-50%, -50%);
	background: #8B4513;
	opacity: 0.95;
}



/*#PCB{
	position: fixed;
	border-radius: 20%;
	width: 350px;
    height: 500px;
  	top: 45%;
  	left: 70%;
  	transform: translate(-50%, -50%);
	background: #1C3457;
}*/
