body {
	background-image: url("Back.jpg");
	background-size: cover;
}

#home {
	position: fixed;
  	top: 45%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}

#icon_box {
	position: relative;
	top: 50%;
  	left: 60%;
	transform: translate(-50%, -50%);
}

#name {
	text-decoration: none;
}

.icon {}

h1 {
	text-align: center;
	color:#000000;
	font-family:courier;
	font-size:55pt;
}

a:visited{
	color:#000000;
}

a:hover{
	color:grey;
}