@media only screen and (max-width: 1079px) {
	body {
		background-image: url("backMobileP.jpg");
		background-size: cover;
	}	
}

@media all and (orientation:landscape){
	body {
		background-image: url("backMobileW.jpg");
		background-size: cover;
	}
	@media only screen and (min-width: 1080px) {	
		body {
		background-image: url("back.jpg");
		background-size: cover;
		}
	}
}


#circleHome {
	position: fixed;
	border-radius: 50%;
	padding: 0px;
    width: 500px;
    height: 500px;
  	top: 45%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	background: black;
  	white-space: nowrap;
}

#nameBox {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#iconBox {
	position: absolute;
	top: 60%;
  	left: 50%;
	transform: translate(-50%, -50%);
}

#name {
	color: white;
	text-decoration: none;
}

#name:hover{
	color:grey;
}

.icon {}

h1 {
	text-align: center;
	color:#000000;
	font-family:courier;
	font-size:50pt;
}
